* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background: linear-gradient(45deg, #f1efef, #494a4b );
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculator{
    width: 300px;
    height: 500px;
    box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.9);
    border-radius: 12px;
    background: #07281f;
    overflow: hidden;
}

form input{
    width: 100%;
    height: 140px;
    border: none;
    border-radius: 10px;
    font-size: 2rem;
    padding: 1rem;
    color: white;
    background: black;
    text-align: right;
    pointer-events: none;
}

.buttons{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
}

button{
    flex: 0 0 22%;
    margin: 5px 0;
    border: none;
    box-shadow: (0,0,0,0.9);
    width: 60px;
    height: 52px;
    font-size: 22px;
    font-weight: 600;
    border-radius: 20px;
    cursor: pointer;
}

.btn-yellow{
    background: rgb(126, 218, 144);
    color: rgb(2, 17, 17);
}

.btn-grey{
    background: lightgray;
}

.btn-equal{
    background: green;
}

.btn-clear{
    background: red;
    border-radius: 20px;
}